<%-include('include/dashboard/header')-%>


<div class="head">
    <div class="left">

        <div class="img">
            <img src="/image/001-profile-user.svg" alt="">
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
            </button>
        </div>
        <div class="data-text">
            <div class="up">
                <h3>User Example</h3>
                <div class="edit">
                    <h4>Nombre person</h4>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="data-num">
            <p>12</p>
            <span>Seguidores</span>
        </div>
        <div class="data-num">
            <p>22</p>
            <span>Seguidos</span>
        </div>
        <div class="data-num">
            <p>33</p>
            <span>Publicaciones</span>
        </div>
    </div>
</div>
<div class="public">

    <div class="option">
        <div class="let-option">
            <svg class="active" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-border-all" viewBox="0 0 16 16">
                <path d="M0 0h16v16H0V0zm1 1v6.5h6.5V1H1zm7.5 0v6.5H15V1H8.5zM15 8.5H8.5V15H15V8.5zM7.5 15V8.5H1V15h6.5z"/>
              </svg>
        </div>
        <div class="rig-option">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
              </svg>
        </div>
    </div>
    <div class="body-public">
        <div class="marco">
            <img src="https://picsum.photos/100/100" alt="">
        </div>
        <div class="marco">
        <img src="https://picsum.photos/100/100" alt="">
    </div>
    <div class="marco">
        <img src="https://picsum.photos/100/100" alt="">
    </div>
    <div class="marco">
        <img src="https://picsum.photos/100/100" alt="">
    </div>
    <div class="marco">
        <img src="https://picsum.photos/100/100" alt="">
    </div>
    <div class="marco">
        <img src="https://picsum.photos/100/100" alt="">
    </div>
    <div class="marco">
        <img src="https://picsum.photos/100/100" alt="">
    </div>
    <div class="marco">
        <img src="https://picsum.photos/100/100" alt="">
    </div>
    <div class="marco">
        <img src="https://picsum.photos/100/100" alt="">
    </div>
</div>
</div>

<%-include('include/dashboard/footer')-%>