
    <div class="user" style="display: flex; align-items: center;">
        <img src="/image/001-profile-user.svg" alt="">
        <p style="padding-left: 10px;"><%=user%></p>
    </div>
    <div class="menu" id='btn-menu'>
    </div>
    <nav id='menu'>
        <ul>
            <li class="user-list">
                <img src="/image/001-profile-user.svg" alt="">
                <h2><%=user%></h2>
            </li>
            <li><a href="">Perfil</a></li>
            <li><a href="">Seguidos</a></li>
            <li><a href="">Seguidores</a></li>
            <li><a href="">Explorar</a></li>
            <li><a href="/dashboard">Configuracion</a></li>
            <li><a href="/logout">Salir</a></li>
        </ul>
    </nav>